@using BlogSite.Controllers
@model List<Class1>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Index</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Adi Soyadi</th>
        <th>Sil</th>
        <th>Duzenle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td><a href="/EmployeeTest/DeleteEmployee/@item.Id" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/EmployeeTest/EditEmployee/@item.Id" class="btn btn-outline-success">Duzenle</a></td>
        </tr>
    }
</table>

<td><a href="/EmployeeTest/AddEmployee" class="btn btn-outline-primary">Yeni Calisan Girisi</a></td>
