<div class="tech-btm">

    <p>Yazilim dunyasindan haberdar ol</p>
    <form method="post" asp-action="SubscribeMail" asp-controller="NewsLetter">
        <input type="email" placeholder="Email" id="txtmail" required>
        <input type="submit" id="btnAdd" value="Abone Ol"/>
    </form>

</div>

<script type="text/javascript">
    $("#btnAdd").click(function(e) {
        debugger;
        e.preventDefault();
        let values = {
            Mail: $("#txtmail").val(),
        };

        $.ajax({
            type: "post",
            url: "/NewsLetter/SubscribeMail",
            data: values,
            success: function(func) {
                swal("Basarili!", "Mailiniz basariyla gonderilmistir!", "success");
            },
            error: function (xhr, ajaxOptions, thrownError) {
                swal("Hata!", "Mail gonderilirken bir hata meydana geldi", "error");
            }
        });
    });
</script>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
