<div class="tech-btm">

    <p>Yazilim dunyasindan haberdar ol</p>
    <form method="post">
        <input type="email" placeholder="Email" required="" id="txtmail">
        <input type="submit" id="btnAdd" value="Subscribe">
    </form>

</div>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script type="text/javascript">
    $("#btnAdd").click(function() {
        let values = {
            Mail: $("#txtmail").val(),
        };

        $.ajax({
            type: "post",
            url: "/NewsLetter/SubscribeMail/",
            data: values,
            success: function() {
                swal("Basarili!", "Mailiniz basariyla gonderilmistir!", "success");
            },
            error: function (xhr, ajaxOptions, thrownError) {
                swal("Hata!", "Mail gonderilirken bir hata meydana geldi", "error");
            }
        });
    });
</script>




@*action="/NewsLetter/SubscribeMail/"*@